.input {
    display: flex;
    width: 90px;
    margin: 0 10px; /* Para centrar horizontalmente */
}

.cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contenedor {
    max-width: 100%; /* Ocupa todo el ancho disponible */
    margin: 0 auto; /* Para centrar horizontalmente */
}

.contenedorPadre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ocupa todo el ancho disponible */
}
